{
    "rules": {
      "@typescript-eslint/no-unsafe-argument": "off",
      "@typescript-eslint/no-unsafe-assignment": "off",
      "@typescript-eslint/no-unsafe-member-access": "off",
      "@typescript-eslint/no-unsafe-call": "off",
      "no-multiple-empty-lines": "off",
      "eol-last": "off",
      "linebreak-style": "off",
      "prettier/prettier": [
        "error", {
          "endOfLine": "auto",
          "trailingWhitespace": "ignore"
        }
      ],

      "no-trailing-spaces": "off"


  
    }
  }
